@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,400&display=swap');

body {
  background-color: #000000;
  font-family: 'Roboto Mono', monospace;
  color: #000000;
}

nav {
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
  opacity: 70%;
}

.main-layout-movies {
  margin-bottom: 50px;
}

.spinner {
  margin: auto;
  display: block;
  margin-top: 50px;
  color:  #fddf2b;
}

.movie {
  background-color: #fddf2b;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
}

.movie-img-info {
  display: flex;
}

.movie-info {
  margin-left: 10px;
}
