@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,400&display=swap');

body {
  background-color: #000000;
  font-family: 'Roboto Mono', monospace;
  color: #000000;
}

nav {
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
  opacity: 70%;
}

.main-layout-movies {
  margin-bottom: 50px;
}

.spinner {
  margin: auto;
  display: block;
  margin-top: 50px;
  color:  #fddf2b;
}

.spinner-characters {
  margin: auto;
  display: block;
  color:  black;
}

.movie {
  background-color: #fddf2b;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
}

.movie-img-info {
  display: flex;
}

.movie-info {
  margin-left: 10px;
}

.characters {
  margin-top: 20px;
}

.accordion-item {
  --bs-accordion-border-color: none
}

.header button {
  background-color:  #c4a912 !important;
}

.accordion-body {
  background-color: #c4a912;
}

.filter {
  background-color: #fddf2b;
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
}

.filter-half {
  width: 50%;
  padding: 20px 100px 20px 100px;
  text-align: center;
}

.filter-half:hover {
  opacity: 70%;
  cursor: pointer;
}

.filter-half:first-child {
  border-radius: 10px 0px 0px 10px;
}

.filter-half:last-child {
  border-radius: 0px 10px 10px 0px;
}

.verticalLine {
  border-left: 2px solid black;
  align-self: stretch;
  width: 1px;
  display: block;
}

.active {
  background-color: #c4a912;
}

.character-link:hover {
  cursor: pointer;
  opacity: 75%;
}

.character-link {
  display: table;
}


@media screen and (max-width: 1200px) {
  .filter {
    width: 80%;
  }
}


@media screen and (max-width: 1000px) {
  .movie-img-info {
    display: block;
  }

  .movie-img {
    text-align: center;
  }

  .movie-info {
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .filter {
    width: 100%;
  }

  .filter-half {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
