@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,400&display=swap');

body {
  background-color: #000000;
  font-family: 'Roboto Mono', monospace;
  color: #000000;
}

nav {
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
  opacity: 70%;
}

.main-layout-movies {
  margin-bottom: 50px;
}

.main-layout-character {
  margin-top: 50px;
}

.spinner {
  margin: auto;
  display: block;
  margin-top: 50px;
  color:  #fddf2b;
}

.spinner-characters {
  margin: auto;
  display: block;
  color:  black;
}

.movie {
  background-color: #fddf2b;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
}

.movie-img-info {
  display: flex;
}

.movie-info {
  margin-left: 10px;
}

.characters {
  margin-top: 20px;
}

.accordion-item {
  --bs-accordion-border-color: none
}

.header button {
  background-color:  #c4a912 !important;
}

.accordion-body {
  background-color: #c4a912;
}

.filter {
  background-color: #fddf2b;
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
}

.filter-half {
  width: 50%;
  padding: 20px 100px 20px 100px;
  text-align: center;
}

.filter-half:hover {
  opacity: 70%;
  cursor: pointer;
}

.filter-half:first-child {
  border-radius: 10px 0px 0px 10px;
}

.filter-half:last-child {
  border-radius: 0px 10px 10px 0px;
}

.verticalLine {
  border-left: 2px solid black;
  align-self: stretch;
  width: 1px;
  display: block;
}

.active {
  background-color: #c4a912;
}

.character-link:hover {
  cursor: pointer;
  opacity: 75%;
}

.character-link {
  display: table;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.character-info, .planet-info {
  width: 45%;
  background-color: #fddf2b;
  padding: 20px;
  border-radius: 10px;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  display: flex;
}

.character-info {
  animation-delay: 0.5s;
  animation-duration: 1.5s;
}

.planet-info {
  animation-delay: 1s;
  animation-duration: 1.5s;
}

.character-info p, .planet-info p {
  
  margin-bottom: 5px;
}

.character-info-about {
  margin-left: 20px;
}

.character-movies {
  margin-bottom: 50px;
}

.single-character-movie:nth-child(0){
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 1.5;
  animation-duration: 1.5s;
}

.single-character-movie:nth-child(1){
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 2s;
  animation-duration: 1.5s;
}

.single-character-movie:nth-child(2){
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 2.5s;
  animation-duration: 1.5s;
}

.single-character-movie:nth-child(3){
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 3s;
  animation-duration: 1.5s;
}

.single-character-movie:nth-child(4){
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 3.5s;
  animation-duration: 1.5s;
}

.single-character-movie:nth-child(5){
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 4s;
  animation-duration: 1.5s;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .filter {
    width: 80%;
  }
}


@media screen and (max-width: 1000px) {
  .movie-img-info {
    display: block;
  }

  .movie-img {
    text-align: center;
  }

  .movie-info {
    margin-left: 0px;
    margin-top: 20px;
  }

  .placehold-img {
    max-width: 100%;
  }

  .character-info {
    width: 100%;
  }

  .planet-info {
    width: 100%;
    margin-top: 50px;
  }

  .wrapper {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .filter {
    width: 100%;
  }

  .filter-half {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 470px) {
  .character-info, .planet-info {
    display: block;
  }

  .character-info img, .planet-info img {
    display: block;
    margin: auto;
  }

  .character-info-about {
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }
}

